.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: center;
  background-color: #fff;
  color: #444;
  margin-bottom: 20px;
}

@media all and (max-width: 1690px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media all and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media all and (max-width: 980px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 736px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
